
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700|Merriweather:300i,400,400i,700i|Spectral:500');

h1 {
  text-align: center;
}

h1, h2 {
  font-family: Merriweather, Spectral, serif;
  font-style: normal !important;
}

h3, h4, h5, h6 {
  font-family: "Merriweather Sans", san-serif;
}

p {
  font-family: "Merriweather Sans", san-serif !important;
}

em {
  font-family: Merriweather, serif !important;
}

.pustaka {
  text-indent:-2.5em;
  margin-left:2.5em !important;
}

.tab {
  display:inline-block;
  width: .5em;
}

/**** Daftar ****/

.sblm-dftr {
  margin: 1.5em 0em .15em 0em !important;
}

.mlai-dftr {
  margin: .15em 0em 1.5em 0em !important;
}

ol.mlai-dftr li {
  margin-bottom: .15em;
}

ol.kurung-a {
  counter-reset: item !important;
  margin: .15em 0em 1.5em 0em !important;
  padding-left: 0 !important;
}

ol.kurung-a li:before {
  content: "(" counter(item, lower-latin) ") " !important;
  counter-increment: item !important;
  margin-left: -1.5em;
}

ol.kurung-a li {
  display: block;
  margin-bottom: .15em;
  margin-left: 1.5em;
}

ol.kurung-1 {
  counter-reset: item !important;
  margin: .15em 0em 1.5em 0em !important;
  padding-left: 0 !important;
}

ol.kurung-1 li:before {
  content: "(" counter(item, decimal) ") " !important;
  counter-increment: item !important;
  margin-left: -1.5em;
}

ol.kurung-1 li {
  display: block;
  margin-bottom: .15em;
  margin-left: 1.5em;
}

.serif {
  font-family: Spectral, serif;
}
.uud-awal {
  font-family: Spectral, serif;
  text-align: center;
  margin: 3em 0em 0em 0em !important;
}

.uud-tengah {
  font-family: Spectral, serif;
  text-align: center;
  margin: 0.5em 0em 0.5em 0em !important;
}

.uud-akhir {
  font-family: Spectral, serif;
  text-align: center;
  margin: 0em 0em 3em 0em !important;
}

.uud-daftar-awal {
  float: left;
  width: 28% !important;
  clear: both;
}

.uud-daftar-akhir {
  clear: both;
}

.uud-sekat {
  font-family: Spectral, serif;
  text-align: center;
  clear: both;
}

.uud-daftar-isi {
  float: right;
  width: 70% !important;
  clear: right;
}

.uud-daftar-solo {
  font-family: Spectral, serif;
  float: right;
  width: 70% !important;
}

.pasal {
  text-align: center;
  clear: both;
}

.pasal-isi {
  margin-top: 0em !important;
}

.pragambar-ka {
  float: right;
  margin: 0em 0em 1.5em 0em;
  width: 50%;
}

.pragambar-ki {
  float: left;
  margin: 0em 0em 1.5em 0em;
  size: 50%;
}

.admonition {
  font-size: 1.5rem !important;
}
