{% macro t(key) %}{{ {
  "language": "id",
  "edit.link.title": "Sunting halaman ini",
  "footer.previous": "Sebelumnya",
  "footer.next": "Berikutnya",
  "meta.comments": "Komentar",
  "meta.source": "Sumber",
  "search.languages": "",
  "search.result.placeholder": "Ketik untuk mulai mencari",
  "search.result.none": "Tidak menemukan dokumen",
  "search.result.one": "Hanya menemukan sebuah dokumen",
  "search.result.other": "# dokumen ditemukan",
  "source.link.title": "Sambangi repositori",
  "toc.title": "Daftar Isi"
}[key] }}{% endmacro %}
